<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- <head th:replace="fragments/header :: header"

</head> -->
<!-- <head th:replace="fragments/header :: header (pageTitle='', ~{::link})"> -->
<head th:replace="fragments/header :: header (pageTitle='', links=~{::link})">
	<link rel="icon" th:href="@{/images/icon/favicon.ico}"/>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/common/common.css}"/>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="${view} :: content">Content goes here!</div>
	</div>
</body>
</html>

<!-- 
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="../fragments/header.html">

 -->