<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (title, links, aa)">
	<title th:replace="${title}">The awesome application</title>
	<link rel="icon" th:href="@{/images/icon/favicon.ico}" th:remove="all"/>
	 
	<th:block th:replace="${links}" />
	<th:block th:replace="${aa}" />
	<th:block th:replace="fragments/script :: script"/>
</head>

  <!--/* Per-page placeholder for additional links
  <title th:replace="${title}">The awesome application</title> 
  <th:block th:replace="${links}" />
  -->