<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- th:substituteby="fragments/header :: header (pageTitle='')" -->
<head>
	<th:block th:fragment="style">
		<link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}"/>
	</th:block>
</head>
<body>
	<th:block th:fragment="aa">
		<script>
			console.log("22");
		</script>
	</th:block>
	<div th:fragment="content">
		<div class="container" style="border:2px solid red;">
			<form id="loginForm" class="form-login" th:action="@{/login}" method="POST">
				<h2 class="form-signin-heading">Please sign in</h2>
				<input type="text" id="user_id" name="username" value="admin" class="form-control" placeholder="Id" required autofocus/> 
				<label for="inputPassword" class="sr-only">비밀번호 :</label>
				<input type="password" id="password" name="password" class="form-control" value="admin" required/>
				<input type="text" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="button" id="loginBtn" class="btn btn-lg btn-primary btn-block">Sign in</button>
			</form>
		</div>
		<script type="text/javascript" th:src="@{/js/login/login.js}"></script>
	</div>
</body>
</html>
